<div class="registerbutton">
  <button type="button" class="btn btn-default" (click)="modal1.open()">Register Here!</button>

  <modal #myFirstModal>
      <modal-header [show-close]="true">
          <h4 class="modal-title">Fill in your details!</h4>
      </modal-header>
      <modal-body>
      	<div class="form-group">
            <label for="textbox">First Name</label>
            <input autofocus type="text" class="form-control" id="textbox" placeholder="Enter your first name here">
            <label for="textbox">Middle Name</label>
            <input autofocus type="text" class="form-control" id="textbox" placeholder="Enter your middle name">
            <label for="textbox">Last Name</label>
            <input autofocus type="text" class="form-control" id="textbox" placeholder="Enter last name">
            <label for="textbox">Username</label>
            <input autofocus type="text" class="form-control" id="textbox" placeholder="Enter a unique username">
            <label for="textbox">Password</label>
            <input autofocus type="text" class="form-control" id="textbox" placeholder="Password to be greater than 8 characters">
            <label for="textbox">Re-enter your password</label>
            <input autofocus type="text" class="form-control" id="textbox" placeholder="Password should match">
        </div>
      </modal-body>
      <modal-footer>
      	<button type="button" class="btn btn-default" data-dismiss="modal" (click)="modal1.dismiss()">Dismiss</button>
      	<button type="button" class="btn btn-primary" (click)="modal1.close()">Submit</button>
      </modal-footer>
  </modal>
</div>